@import "diff-light.css";

body {
    color: #f0f0f0;
}

.change {
    background-color: #3a3c3d;
}

.add {
    background-color: #244224;
}

.remove {
    background-color: #581616;
}

.highlighted {
    background: #48480F;
}

.reaction > svg > path {
    opacity: 0.8;
    fill: #ffffff;
}