body {
    background-color: #fafafa;
    color: #000000;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 16px;
    word-wrap: break-word;
}

a {
    color: #5aa03d;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

h1 {
    font-size: 21px;
}

h2 {
    font-size: 20px;
}

blockquote {
    border-left: 4px solid #000000;
    color: #000000;
}