body {
    background-color: #fafafa;
    color: #000000;
    font-size: 14px;
    padding-top: 20px;
    word-wrap: break-word;
}

a {
    color: #5aa03d;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

blockquote {
    color: #000000;
}