body {
    font-family: Helvetica,arial,sans-serif;
    font-size: 12px;
    line-height: 1.4;
    background-color: #111;
    color: #A3A3A5;
    margin: 6px 0 6px 0;
}

pre {
    display: table;
    min-width: 100%;
}

pre > div {
    margin-left: 6px;
    margin-right: 6px;
}

.image {
    border: 1px solid #7a7a7a;
    display: table;
    padding: 3px;
}

.change {
    background-color: #3a3c3d;
}

.add {
    background-color: #244224;
}

.remove {
    background-color: #581616;
}

.comment {
    white-space: normal;
    border: 1px solid #7a7a7a;
    padding: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.highlighted {
    background: #555512;
}

.reaction {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

.reaction > svg > path {
    opacity: 0.8;
    fill: #ffffff;
}