<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gh4a"
    android:installLocation="auto"
    android:versionCode="32"
    android:versionName="3.2">
    
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16" />
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:icon="@drawable/octodroid"
        android:label="@string/app_name"
        android:name="com.gh4a.Gh4Application">
        <activity
            android:name=".Github4AndroidActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".RepositoryListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".RepositoryActivity"
            android:configChanges="orientation|screenSize"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".UserListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".UserActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CommitListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CommitActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".WatcherListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ForkListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".FollowerFollowingListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".IssueListActivity"
            android:configChanges="orientation|screenSize"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name=".IssueActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".DiffViewerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".BranchListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".TagListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".PullRequestListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".PullRequestActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".FileManagerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".FileViewerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".OrganizationMemberListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ContributorListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CollaboratorListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".IssueCreateActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".IssueLabelListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".IssueListByLabelActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CompareActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CommitHistoryActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".UserYourActionsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".AppPreferenceActivity"
            android:theme="@android:style/Theme" />
        <activity
            android:name=".GistActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".GistListActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".GistViewerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".PushableRepoListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ExploreActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".TrendingActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".TimelineActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="BlogListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="BlogActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="WikiListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="WikiActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="DiscussionCategoryListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="DiscussionListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="DiscussionActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="OrganizationListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="BookmarkListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="IssueMilestoneListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".IssueListByMilestoneActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".IssueLabelCreateActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".IssueMilestoneCreateActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".IssueMilestoneEditActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".EditCommentActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="BrowseFilter">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <!-- Repo -->
                <data
                    android:scheme="https"
                    android:host="github.com"
                    android:pathPattern="/.*/.*" />
                <data
                    android:scheme="https"
                    android:host="github.com"
                    android:pathPattern="/.*" />
                <!-- Repo Issues -->
                <data
                    android:scheme="https"
                    android:host="github.com"
                    android:pathPattern="/.*/.*/issues" />
                <data
                    android:scheme="http"
                    android:host="jobs.github.com" />
                    
            </intent-filter>
        </activity>
        <!-- activity android:name="BrowseFilter">
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="text/plain"
                    android:pathPattern="slapperwan/gh4a"/>
            </intent-filter>
        </activity-->
    </application>
</manifest>
