body {
    font-family: Helvetica,arial,sans-serif;
    font-size: 12px;
    line-height: 1.4;
    background-color: #F7F7F9;
    color: #48484C;
    margin: 0;
    padding: 6px;
}

body>:first-child {
    margin-top: 0!important;
}

body>:last-child {
    margin-bottom: 0!important;
}

a {
    color: #4183C4;
}

a.absent {
    color: #c00;
}

a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 10px 0 6px;
    padding: 0;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

h1:hover a.anchor,h2:hover a.anchor,h3:hover a.anchor,h4:hover a.anchor,h5:hover a.anchor,h6:hover a.anchor {
    background: url(../../images/modules/styleguide/para.png) no-repeat 10px center;
    text-decoration: none;
}

h1 code,h1 tt,h2 code,h2 tt,h3 code,h3 tt,h4 code,h4 tt,h5 code,h5 tt,h6 code,h6 tt {
    font-size: inherit;
}

h1 {
    font-size: 28px;
    color: #48484C;
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid #7A7A7A;
    color: #48484C;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    color: #777;
    font-size: 14px;
}

blockquote,dl,li,ol,p,pre,table,ul {
    margin: 3px 0;
}

hr {
    background: transparent url(../../images/modules/pulls/dirty-shade.png) repeat-x 0 0;
    border: 0 none;
    color: #7A7A7A;
    height: 4px;
    padding: 0;
}

a:first-child h1,a:first-child h2,a:first-child h3,a:first-child h4,a:first-child h5,a:first-child h6,
body>h1:first-child,body>h1:first-child+h2,body>h2:first-child,body>h3:first-child,body>h4:first-child,body>h5:first-child,body>h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

h1 p,h2 p,h3 p,h4 p,h5 p,h6 p {
    margin-top: 0;
}

li p.first {
    display: inline-block;
}

ol,ul {
    padding-left: 30px;
}

ol :first-child,ul :first-child {
    margin-top: 0;
}

ol :last-child,ul :last-child {
    margin-bottom: 0;
}

dl {
    padding: 0;
}

dl dt {
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    padding: 0;
    margin: 6px 0 5px;
}

dl dt:first-child {
    padding: 0;
}

dl dt>:first-child {
    margin-top: 0;
}

dl dt>:last-child {
    margin-bottom: 0;
}

dl dd {
    margin: 0 0 6px;
    padding: 0 6px;
}

dl dd>:first-child {
    margin-top: 0;
}

dl dd>:last-child {
    margin-bottom: 0;
}

blockquote {
    border-left: 4px solid #6E6E6E;
    padding: 0 6px;
    color: #777;
}

blockquote>:first-child {
    margin-top: 0;
}

blockquote>:last-child {
    margin-bottom: 0;
}

table {
    padding: 0;
}

table tr {
    border-top: 1px solid #7A7A7A;
    background-color: #F7F7F9;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #D6D6D6;
}

table tr th {
    font-weight: 700;
    border: 1px solid #7A7A7A;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #7A7A7A;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td :first-child,table tr th :first-child {
    margin-top: 0;
}

table tr td :last-child,table tr th :last-child {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

span.frame {
    display: block;
    overflow: hidden;
}

span.frame>span {
    border: 1px solid #6E6E6E;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}

span.frame span img {
    display: block;
    float: left;
}

span.frame span span {
    clear: both;
    color: #333;
    display: block;
    padding: 5px 0 0;
}

span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

span.align-center>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}

span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

span.align-right>span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}

span.align-right span img {
    margin: 0;
    text-align: right;
}

span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

span.float-left span {
    margin: 13px 0 0;
}

span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

span.float-right>span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

code,tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #757575;
    background-color: #D6D6D6;
    border-radius: 3px;
}

pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    background: 0 0;
}

.highlight pre,pre {
    background-color: #D6D6D6;
    border: 1px solid #7A7A7A;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 4px 10px;
    border-radius: 3px;
}

pre code,pre tt {
    background-color: transparent;
    border: none;
}
