body {
    margin: 6px 0 6px 0;
}

.pln {
    color: #48484C;
}

.str {
    color: #D14;
}

.kwd {
    color: #1E347B;
}

.com {
    color: #93A1A1;
}

.typ {
    color: teal;
}

.lit {
    color: #195F91;
}

.clo,.opn,.pun {
    color: #93A1A1;
}

.tag {
    color: #008;
}

.atn {
    color: teal;
}

.atv {
    color: #D14;
}

.dec,.var {
    color: teal;
}

.fun {
    color: #DC322F;
}

pre.prettyprint {
    background-color: #F7F7F9;
    min-width: 100%;
    display: table;
}

pre.prettyprint.linenums {
    box-shadow: 40px 0 0 #FBFBFC inset,41px 0 0 #ECECF0 inset;
}

pre.prettyprint > ol {
    margin-left: 6px;
    margin-right: 6px;
}

ol.linenums li {
    color: #BEBEC5;
    list-style-type: none;
    counter-increment: linenumber;
}

ol.linenums li:before {
    content: counter(linenumber);
    float: left;
    margin-left: -4em;
    text-align: right;
    width: 3em;
}

li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 {
    list-style-type: normal;
}

li.L1,li.L3,li.L5,li.L7,li.L9 {
    background: #eee;
}

li.highlighted {
    background: #ffffb8;
}