body {
    font-family: Helvetica,arial,sans-serif;
    font-size: 12px;
    line-height: 1.4;
    background-color: #111;
    color: #A3A3A5;
    margin: 6px;
}

pre {
    display: table;
    min-width: 100%;
}

.image {
    border: 1px solid #7a7a7a;
    display: table;
    padding: 3px;
}

.change {
    background-color: #3a3c3d;
}

.add {
    background-color: #244224;
}

.remove {
    background-color: #581616;
}

.comment {
    white-space: normal;
    border: 1px solid;
    padding: 2px;
    margin: 5px 0;
}
