<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gh4a"
    android:installLocation="auto">

    <!-- see http://stackoverflow.com/questions/32070670/preferencefragmentcompat-requires-preferencetheme-to-be-set -->
    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="com.gh4a.Gh4Application"
        android:allowBackup="true"
        android:icon="@drawable/octodroid"
        android:label="@string/app_name"
        android:theme="@style/LightTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".activities.Github4AndroidActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="gh4a" android:host="oauth" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".Github4AndroidActivity"
            android:label="@string/app_name"
            android:targetActivity=".activities.Github4AndroidActivity"/>

        <activity android:name=".activities.BlogActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.BlogListActivity" android:exported="false" />
        <activity android:name=".activities.BookmarkListActivity" android:exported="false" />
        <activity android:name=".activities.CollaboratorListActivity" android:exported="false" />
        <activity android:name=".activities.CommitActivity" android:exported="false" />
        <activity android:name=".activities.CommitDiffViewerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.CommitHistoryActivity" android:exported="false" />
        <activity android:name=".activities.CompareActivity" android:exported="false" />
        <activity android:name=".activities.ContributorListActivity" android:exported="false" />
        <activity android:name=".activities.DownloadsActivity" android:exported="false" />
        <activity android:name=".activities.EditCommitCommentActivity" android:exported="false" />
        <activity android:name=".activities.EditIssueCommentActivity" android:exported="false" />
        <activity android:name=".activities.EditPullRequestCommentActivity" android:exported="false" />
        <activity android:name=".activities.FileViewerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.ForkListActivity" android:exported="false" />
        <activity android:name=".activities.FollowerFollowingListActivity" android:exported="false" />
        <activity android:name=".activities.GistActivity" android:exported="false" />
        <activity android:name=".activities.GistListActivity" android:exported="false" />
        <activity android:name=".activities.GistViewerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.IssueActivity" android:exported="false" />
        <activity android:name=".activities.IssueEditActivity" android:exported="false" />
        <activity android:name=".activities.IssueLabelListActivity" android:exported="false" />
        <activity android:name=".activities.IssueListActivity" android:exported="false" />
        <activity android:name=".activities.IssueMilestoneEditActivity" android:exported="false" />
        <activity android:name=".activities.IssueMilestoneListActivity" android:exported="false" />
        <activity android:name=".activities.OrganizationMemberListActivity" android:exported="false" />
        <activity android:name=".activities.PullRequestActivity" android:exported="false" />
        <activity android:name=".activities.PullRequestDiffViewerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.ReleaseInfoActivity" android:exported="false" />
        <activity android:name=".activities.ReleaseListActivity" android:exported="false" />
        <activity android:name=".activities.RepositoryActivity" android:exported="false" />
        <activity android:name=".activities.RepositoryListActivity" android:exported="false" />
        <activity android:name=".activities.SearchActivity" android:exported="false" />
        <activity android:name=".activities.TimelineActivity" android:exported="false" />
        <activity android:name=".activities.TrendingActivity" android:exported="false" />
        <activity android:name=".activities.UserActivity" android:exported="false" />
        <activity android:name=".activities.WatcherListActivity" android:exported="false" />
        <activity android:name=".activities.WikiActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.WikiListActivity" android:exported="false" />
        <activity android:name=".activities.home.HomeActivity" android:exported="false" />
        <activity android:name=".activities.ReviewActivity" android:exported="false" />

        <activity
            android:name=".activities.SettingsActivity"
            android:title="@string/settings" />

        <activity android:name="BrowseFilter"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/TransparentLightTheme">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="github.com"
                    android:scheme="https" />
                <data
                    android:host="gist.github.com"
                    android:scheme="https" />
                <data
                    android:host="github.com"
                    android:scheme="http" />
				<data
                    android:host="gist.github.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <provider
            android:name=".db.BookmarksProvider"
            android:authorities="com.gh4a"
            android:exported="false" />

        <provider
            android:name=".db.SuggestionsProvider"
            android:authorities="com.gh4a.SuggestionsProvider"
            android:exported="false" />

        <receiver
            android:name="EventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="684bb8e255484484ea06ed1e229adb4ca4e8bf6b"/>
    </application>
</manifest>
